auto-install-peers=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=30A257B4-5C60-49B9-A1FA-4859457F3AAB

//npm.greensock.com/:_authToken=0667c807-35db-4a25-842f-c74db5b8cc54
@gsap:registry=https://npm.greensock.com