body {
  --color-white: #F7F7F7;
  --color-black: #22302c;
  --color-pink: #fcdcdc;
  --color-red: #f07a7a;
  --color-reddish: #ff8686;
  --color-grayPink: #fbe7e7;
  --color-whitePurp: #fbf9ff;
  --color-whitePurp: #fbf9ff;
  --color-whiteGreen: #dae4e1;
  --color-seafoam: #009e84;
  --color-magnolia: #0e503a;
  --color-pureWhite: #FFFFFF;
  --color-pureBlack: #000000;
  --color-gray: #dfd4d4;
  --color-lightGray: #c2dbd1;
}