body {
  --color-white: #F7F7F7;
  --color-black: #223030;
  --color-pink: #fcdcdc;
  --color-red: #f07a7a;
  --color-reddish: #ff8686;
  --color-grayPink: #fbe7e7;
  --color-whitePink: #fff4f4;
  --color-seafoam: #009e84;
  --color-magnolia: #0e503a;
  --color-pureWhite: #FFFFFF;
  --color-pureBlack: #000000;
}