
@font-face {
  font-family: 'Mer';
  src: url('../fonts/mer.woff2') format('woff2'),
    url('../fonts/mer.woff') format('woff')
  ;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
.template--cry-cleanse-flow{

  h1, h2, .h1, .h2, div.event-date {
    font-weight: 400;
    font-family: "Mer";
  }

  a.button, div.button{
    font-weight: 400;
    font-family: "Mer";
    padding-top: 0.9em;
    letter-spacing: 0.1em;
  }
}

